.page-grid-container {
    height: 100%;
    margin: 0 1.3%;

    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: min-content auto min-content;
}

header, footer {
    background-color: #999;

    grid-column-start: 1;
    grid-column-end: 3;
}

nav {
    background-color: #777;

    grid-column-start: 1;
    grid-column-end: 2;
}


app-item-list {
    background-color: #aaa;

    grid-column-start: 2;
    grid-column-end: 3;
}